<!DOCTYPE html>
<html ng-app="blog">
<head>
  <title>My application</title>
  <link rel="stylesheet" media="all" href="css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="css/custom.css">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">AWJ Base Project</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Persoana</a></li>
            <li><a href="#">Carte</a></li>
            <li><a href="#">Produs</a></li>
            <li><a href="#">Bautura</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <hr/>

  <div class="container">
    <div ng-controller="HomeController">
      <h1>{{ helloWorld }}</h1>
      <p>Writing this live into the browser...</p>
    </div>
  </div>

  <hr/>

  <!-- /resources1 -->
<div class="container" ng-controller="HomeController">

    <h1>Persoane</h1>

    <h2>Listeaza toate persoanele</h2>

    <table class="table table-bordered">
        <tr>
        	<th>ID</th>
        	<th>Nume</th>
            <th style="width:210px;">OPTIONS</th>
        </tr>
        <tr ng-repeat="persoana in persoane.data" data-id="{{persoana.id}}">
            <td>{{ persoana.id }}</td>
            <td>{{ persoana.name }}</td>
            <td>
                <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
                </a>
                <a href="">
                    <button ng-click="setUpdatePerson(persoana)" class="btn btn-info btn-xs">
                        Edit
                        <span class="glyphicon glyphicon-edit"></span>
                    </button>

                </a>
                <a href="">
                    <button ng-click="deletePersoana(persoana.id)" class="btn btn-danger btn-xs">
                        Remove
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </a>
            </td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-3">
            <h2>Editeaza persoana</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="editPerson.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="editPerson.name">
                </div>
                <button type="submit" class="btn btn-info" ng-click="updatePerson()">Save</button>
            </form>
        </div>


        <div class="col-md-3 col-md-offset-6">
            <h2>Adauga o persoana</h2>

            <form action="" method="">
                <div class="form-group">
                    <label for="attribute1">ID</label>
                    <input type="text" class="form-control" id="attribute1" placeholder="ID" ng-model="persoana.id">
                </div>
                <div class="form-group">
                    <label for="attribute2">NUME</label>
                    <input type="text" class="form-control" id="attribute2" placeholder="NUME" ng-model="persoana.name">
                </div>

                <button ng-click="addPersoana(persoana)" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>

</div>

<hr/>
  <!-- /resources2-->
  <div class="container" ng-controller="HomeController">
    <h1>Carte</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Author</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="carte in carti.data" data-id="{{carte.id}}">
            <td>{{ carte.id }}</td>
            <td>{{ carte.name }}</td>
            <td>{{ carte.author}}</td>
      
        <td>
          <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
           <button ng-click="setUpdateCarte(carte)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
          <button ng-click="deleteCarte(carte.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Carte</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1" ng-model="editCarte.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2" ng-model="editCarte.name">
          </div>
          <div class="form-group">
            <label for="attribute2">Author</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Attribute 3" ng-model="editCarte.author">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add Carte</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1" ng-model="carte.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2" ng-model="carte.name">
          </div>
          <div class="form-group">
            <label for="attribute2">Author</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Attribute 3" ng-model="carte.author">
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show Carte</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=2" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
       <h1>Harry Potter</h1>
        <p><h3>The book's Id is 1 and the author is J.K. Rowling</h3></p>
        
      </div>
    </div>
  </div>

  <hr/>

 <!-- /resources3-->
  <div class="container" ng-controller="HomeController">
    <h1>Produs</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Protein</th>
        <th style="width:210px;">Options</th>
      </tr>
      <tr ng-repeat="produs in produse.data" data-id="{{produs.id}}">
            <td>{{ produs.id }}</td>
            <td>{{ produs.name }}</td>
            <td>{{ produs.protein}}</td>
        <td>
           <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
           <button ng-click="setUpdateProdus(produs)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
          <button ng-click="deleteProdus(produs.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Produs</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1" ng-model="editProdus.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2" ng-model="editProdus.name">
          </div>
          <div class="form-group">
            <label for="attribute2">Protein</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Attribute 3" ng-model="editProdus.protein">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add Produs</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1" ng-model="produs.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2" ng-model="produs.name">
          </div>
          <div class="form-group">
            <label for="attribute2">Protein</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Attribute 3" ng-model="produs.protein">
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show Produs</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=2" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Bread</h1>
        <p><h3>The product's id is 3 and it has 7 proteins</h3></p>
      </div>
    </div>
  </div>

  <hr/>
  <div class="container">
    <footer class="footer">
      <p class="text-muted pull-left">AWJ Base Project &copy; 2015-2016</p>
      <p class="text-muted pull-right">Sirbu Nicolae-Cezar, 331AA</p>
    </footer>
  </div>
<!-- /resources4-->
  <div class="container" ng-controller="HomeController">
    <h1>Bautura</h1>
    <h2>List all resources</h2>
    <table class="table table-bordered">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Alcohol Proof</th>
        <th style="width:210px;">Options</th>
      </tr>
     <tr ng-repeat="bautura in bauturi.data" data-id="{{bautura.id}}">
            <td>{{ bautura.id }}</td>
            <td>{{ bautura.name }}</td>
            <td>{{ bautura.alchoolProof}}</td>
         <td>
           <a href="">
            <span class="label label-success">
              Open
              <span class="glyphicon glyphicon-folder-open"></span>
            </span>
          </a>
          <a href="">
           <button ng-click="setUpdateBautura(bautura)" class="btn btn-info btn-xs">
              Edit
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>
          <a href="">
          <button ng-click="deleteBautura(bautura.id)" class="btn btn-danger btn-xs">
              Remove
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>
      </tr>
      
    </table>

    <div class="row">
      <div class="col-md-3">
        <h2>Edit Bautura</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1" ng-model="editBautura.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2" ng-model="editBautura.name">
          </div>
          <div class="form-group">
            <label for="attribute2">Author</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Attribute 3" ng-model="editBautura.alchoolProof">
          </div>
          <button type="submit" class="btn btn-info">Save</button>
        </form>
      </div>


      <div class="col-md-3 col-md-offset-6">
        <h2>Add Bautura</h2>
        <form action="" method="">
          <div class="form-group">
            <label for="attribute1">Id</label>
            <input type="text" class="form-control" id="attribute1" placeholder="Attribute 1" ng-model="bautura.id">
          </div>
          <div class="form-group">
            <label for="attribute2">Name</label>
            <input type="text" class="form-control" id="attribute2" placeholder="Attribute 2" ng-model="bautura.name">
          </div>
          <div class="form-group">
            <label for="attribute2">Author</label>
            <input type="text" class="form-control" id="attribute3" placeholder="Attribute 3" ng-model="bautura.alchoolProof">
          </div>
          <button type="submit" class="btn btn-success">Add</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Show Bautura</h2>
      </div>
      <div class="col-md-2">
        <img src="http://lorempixel.com/200/200/technics/?id=2" class="img-thumbnail"/>
      </div>
      <div class="col-md-10">
        <h1>Beer</h1>
        <p><h3>The drink's id is 1 and it has 5% alcohol proof</h3></p>
      </div>
    </div>
  </div>

  <hr/>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>